.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.alert,
input,
textarea,
select,
.custom-file {
  max-width: 400px;
}

#game-list-div,
#genre-detail-div {
  max-width: 1200px;
}

.card-img-top {
  max-width: 15rem;
  max-height: 15rem;
  object-fit: contain;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
